<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
	version="6.0">

	<servlet>
		<servlet-name>Index</servlet-name>
		<jsp-file>/index.jsp</jsp-file>

		<init-param>
			<param-name>demo</param-name>
			<param-value>JSP CONFIG OBJECT DEMO</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>Index</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>

	<session-config>
		<session-timeout>1</session-timeout>
	</session-config>
	<context-param>

		<param-name>contextDemo</param-name>
		<param-value>JSP Application OBJECT DEMO</param-value>
	</context-param>
</web-app>